#config_version=6

mode:
  start_events: ball_started
  stop_events: ball_ended
  priority: 110

event_player: 
  left_orbit_hit{current_player.shot_bullet_left_orbit == 0}: 
    - bullet_lock_left_orbit
    - bullet_hit
  left_orbit_hit{current_player.shot_bullet_left_orbit == 2}: 
    - bullet_lock_left_orbit
    - bullet_combo_hit
    - bullet_hit
    - bullet_combo_check
  right_orbit_hit{current_player.shot_bullet_right_orbit == 0}: 
    - bullet_lock_right_orbit
    - bullet_hit
  right_orbit_hit{current_player.shot_bullet_right_orbit == 2}: 
    - bullet_lock_right_orbit
    - bullet_combo_hit
    - bullet_hit
    - bullet_combo_check
  bullet_mid_orbit_hit{current_player.shot_bullet_mid_orbit == 0}: 
    - bullet_lock_mid_orbit
    - bullet_hit
  bullet_mid_orbit_hit{current_player.shot_bullet_mid_orbit == 2}: 
    - bullet_lock_mid_orbit
    - bullet_combo_hit
    - bullet_hit
    - bullet_combo_check
  bullet_air_duct_hit{current_player.shot_bullet_air_duct == 0}: 
    - bullet_lock_air_duct
    - bullet_hit
  bullet_air_duct_hit{current_player.shot_bullet_air_duct == 2}: 
    - bullet_lock_air_duct
    - bullet_combo_hit
    - bullet_hit
    - bullet_combo_check
  bullet_upper_pf_hit{current_player.shot_bullet_upper_pf == 0}: 
    - bullet_lock_upper_pf
    - bullet_hit
  bullet_upper_pf_hit{current_player.shot_bullet_upper_pf == 2}: 
    - bullet_lock_upper_pf
    - bullet_combo_hit
    - bullet_hit
    - bullet_combo_check
  timer_bullets_combo_complete: 
    - reset_bullets
  mode_bullets_stopping: 
    - reset_bullets
  bullet_combo_check{current_player.bullet_combo_hits == 4}: 
    - bullets_combo_max
    - reset_bullets


shots: 
  bullet_left_orbit:
    profile: profile_bullets
    start_enabled: True
    show_tokens: 
      lights: l50
    control_events: 
      - events: reset_bullets
        state: 0
      - events: bullet_lock_left_orbit
        state: 1
      - events: bullet_hit{current_player.shot_bullet_left_orbit != 1}
        state: 2
  bullet_upper_pf:
    switch: s_upper_pf_entrance
    profile: profile_bullets
    start_enabled: True
    show_tokens: 
      lights: l51
    control_events: 
      - events: reset_bullets
        state: 0
      - events: bullet_lock_upper_pf
        state: 1
      - events: bullet_hit{current_player.shot_bullet_upper_pf != 1}
        state: 2
  bullet_right_orbit:
    profile: profile_bullets
    start_enabled: True
    show_tokens: 
      lights: l53
    control_events: 
      - events: reset_bullets
        state: 0
      - events: bullet_lock_right_orbit
        state: 1
      - events: bullet_hit{current_player.shot_bullet_right_orbit != 1}
        state: 2
  bullet_mid_orbit:
    switch: s_mid_orbit
    profile: profile_bullets
    start_enabled: True
    show_tokens: 
      lights: l54
    control_events: 
      - events: reset_bullets
        state: 0
      - events: bullet_lock_mid_orbit
        state: 1
      - events: bullet_hit{current_player.shot_bullet_mid_orbit != 1}
        state: 2
  bullet_air_duct:
    switch: s_air_duct
    profile: profile_bullets
    start_enabled: True
    show_tokens: 
      lights: l55
    control_events: 
      - events: reset_bullets
        state: 0
      - events: bullet_lock_air_duct
        state: 1
      - events: bullet_hit{current_player.shot_bullet_air_duct != 1}
        state: 2

show_player: 
  bullets_combo_max: 
    flicker_color: 
      key: key_bullets_combo_max
      priority: 1
      loops: 2
      speed: 4
      show_tokens: 
        lights: bullets
        color: 00ff00
  bullet_lock_left_orbit: 
    flicker_color: 
      key: key_bullet_lock_left_orbit
      priority: 1
      loops: 2
      speed: 4
      show_tokens: 
        lights: BLO
        color: ff0000
  bullet_lock_right_orbit: 
    flicker_color: 
      key: key_bullet_lock_right_orbit
      priority: 1
      loops: 2
      speed: 4
      show_tokens: 
        lights: BRO
        color: ff0000
  bullet_lock_mid_orbit: 
    flicker_color: 
      key: key_bullet_lock_mid_orbit
      priority: 1
      loops: 2
      speed: 4
      show_tokens: 
        lights: BMO
        color: ff0000
  bullet_lock_air_duct: 
    flicker_color: 
      key: key_bullet_lock_air_duct
      priority: 1
      loops: 2
      speed: 4
      show_tokens: 
        lights: BAD
        color: ff0000
  bullet_lock_upper_pf: 
    flicker_color: 
      key: key_bullet_lock_upper_pf
      priority: 1
      loops: 2
      speed: 4
      show_tokens: 
        lights: BUP
        color: ff0000


timers: 
  bullets_combo:
    start_value: 0
    end_value: 5
    direction: up
    control_events: 
      - event: bullet_hit
        action: restart
    restart_on_complete: False
    start_running: False
    tick_interval: 1000ms

variable_player: 
  bullet_hit: 
    bullet_hits: 
      action: add
      int: 1 + current_player.bullet_combo_hits
    eob_bonus_bullet: 
      action: add
      int: 35000 * 1 + current_player.bullet_combo_hits

  bullet_combo_hit.10: 
    bullet_combo_hits: 
      action: add
      int: 1

  reset_bullets: 
    bullet_combo_hits: 
      action: set
      int: 0




